{
	auto_https off
}

http://frp.frii.design {
	reverse_proxy 127.0.0.1:5500 {
		header_up Host {host}
		header_up X-Real-IP {http.request.header.CF-Connecting-IP}
		header_up X-Forwarded-For {http.request.header.CF-Connecting-IP}
		header_up X-Forwarded-Proto {http.request.header.X-Forwarded-Proto}
	}
}

http://friisig.com, http://www.friisig.com, http://friisig.frii.design {
	reverse_proxy 127.0.0.1:4736 {
		header_up Host {host}
		header_up X-Real-IP {http.request.header.CF-Connecting-IP}
		header_up X-Forwarded-For {http.request.header.CF-Connecting-IP}
		header_up X-Forwarded-Proto {http.request.header.X-Forwarded-Proto}
	}
}

http://frii.design, http://www.frii.design, http://frii.frii.design {
	reverse_proxy 127.0.0.1:2368 {
		header_up Host {host}
		header_up X-Real-IP {http.request.header.CF-Connecting-IP}
		header_up X-Forwarded-For {http.request.header.CF-Connecting-IP}
		header_up X-Forwarded-Proto {http.request.header.X-Forwarded-Proto}
	}
}

http://static.frii.design {
	root * ./html
	try_files {path} {path}/index.html
	file_server
}


# -----------------------------------------------------------------------------

http://li.sh.tc.nano.properties:32101 {
        @bypass path /ws/*
        handle @bypass {
                reverse_proxy 127.0.0.1:32101 {
                        header_up Host {host}
                        header_up X-Real-IP {client_ip}
                }
        }
        handle {
                reverse_proxy 127.0.0.1:32101 {
                        header_up Host {host}
                        header_up X-Real-IP {client_ip}
                }
        }
}







