tun.frii.design {
	reverse_proxy 127.0.0.1:5500 {
		header_up Host {host}
		header_up X-Real-IP {client_ip}
	}
}

friisig.com, www.friisig.com, friisig.frii.design {
	reverse_proxy 127.0.0.1:4736 {
		header_up Host {host}
		header_up X-Real-IP {client_ip}
	}
}

frii.design, frii.frii.design {
	reverse_proxy 127.0.0.1:2368 {
		header_up Host {host}
		header_up X-Real-IP {client_ip}
	}
}

static.frii.design {
	root * ./html
	try_files {path} {path}/index.html
	file_server
}
