services:
  app:
    image: public.ecr.aws/docker/library/ghost:6.14.0-alpine
    restart: always
    container_name: ghost-app
    ports:
      - '2368:2368'
    volumes:
      - ./volumes/ghost:/var/lib/ghost/content
    environment:
      url: "${APP_URL}"
      database__client: mysql
      database__connection__host: db
      database__connection__user: root
      database__connection__password: "${DB_PASSWORD}"
      database__connection__database: ghost
      mail__from: "${MAIL_FROM}"
      mail__transport: SMTP
      mail__options__host: "${MAIL_SMTP_HOST}"
      mail__options__port: "${MAIL_SMTP_PORT}"
      mail__options__auth__user: "${MAIL_USERNAME}"
      mail__options__auth__pass: "${MAIL_PASSWORD}"
    depends_on:
      db:
        condition: service_started
    env_file:
      - ./.env
  db:
    image: public.ecr.aws/docker/library/mysql:8.2.0
    restart: always
    container_name: ghost-db
    environment:
      MYSQL_ROOT_PASSWORD: "${DB_PASSWORD}"
    volumes:
      - ./volumes/db:/var/lib/mysql
    env_file:
      - ./.env
